/Assignment1.py
/CIDM6325-Fall2021-Blog and Website.pptx
/CIDM6325-Fall2021-Road Map.pptx
/CIDM6325-Fall2021-Welcome.pptx
/Django-3-by-Example-master.zip
/FirstAssignment.py
/FirstAssignment.zip

#do not upload certs
*.crt
*.key
Bookmarks/bookmarks/cert.crt
Bookmarks/bookmarks/cert.key
